body {
  font-size: 16px;
  line-height: 24px;
  color: #283136;
  font-family: Roboto;
}

h2 {
  font-size: 55px;
  line-height: 55px;
  color: #000000;
  font-weight: 500px;
}

h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
}

section {
  border-bottom: 2px solid #eee;
}

div, article, header, footer, section, a, p, nav {
outline: 1px solid red;
} /*Временный стиль */



.main-header {
  margin-top: 42px;
  min-height: 504px;
}

.container {
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 80px;
  padding: 0 20px;
}

.logo {
  width: 160px;
  float: left;
  margin-right: 201px;
  vertical-align: bottom;
  padding-top: 7px;
}

.main-navigation {
  width: 492px;
  float: left;
  margin-right: 190px;
  margin-bottom: 18px;
}

.main-navigation li {
  display: inline-block;
  margin-right: 34px;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 30px;
}

.user-block {
  float: right;
  width: 115px;
  min-height: 55px;
  text-align: right;
  text-transform: uppercase;
  font-weight: 500;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.slider {
  width: 1160px;  
}

.slider h2 {
  font-size: 55px;
}

.slide-1-text {
  width: 401px;
  min-height: 320px;
  float: left;
  margin-top: 22px;
  
}

.slide-1 img {
  width: 698px;
  min-height: 413px;
  float: right;
  margin-right: 31px;
  margin-top: 11px;
  
}

.slide-2 {
  display: none;
  width: 760px;
  float: left;
}

.slide-3 {
  display: none;
  width: 760px;
  float: right;
}

.features {
  margin-bottom: 80px;
  min-height: 427px;
}

.features-name {
  min-height: 30px;
}

.features-item {
  float: left;
  width: 300px;
  margin-right: 100px;
  min-height: 300px;
}

.features-item:nth-child(3n) {
  margin-right: 0;
}

.about-left {
  width: 660px;
  float: left;
}

.about-right {
  width: 360px;
  float: right;
}

.customers {
  display: inline-block;
  min-height: 181px;
  font-size: 0px;
}

.customers-logo {
  margin-right: 40px;
}

.contacts {
  width: 319px;
}

.footer-social {
  display: inline-block;
  width: 260px;
  margin-right: 140px;
}

.discount {
  display: inline-block;
  width: 560px;
}