body {
  font-size: 16px;
  line-height: 24px;
  color: #283136;
  font-family: Roboto;
}

h2 {
  font-size: 55px;
  line-height: 55px;
  color: #000000;
  font-weight: 500px;
}

h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
}

h4 {
  font-size: 16px;
  text-transform: uppercase;
}

.btn {
  line-height: 18px;
  text-transform: uppercase;
}

div, article, header, footer, section, a, p, nav {
outline: 1px solid red;
} /*Временный стиль */



.main-header {
  padding-top: 42px;
  background-color: #eee;
  min-height: 315px;
}

.container {
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 80px;
  padding: 0 20px;
}

.logo {
  width: 160px;
  float: left;
  margin-right: 152px;
  vertical-align: bottom;
  padding-top: 7px;
}

.main-navigation {
  float: left;
  margin-bottom: 5px;
  min-height: 85px;
}

.main-navigation li {
  display: inline-block;
  margin-right: 22px;
  margin-top: 19px;
  text-transform: uppercase;
  font-weight: 500;
}

.main-navigation a {
  padding: 10px;
}

.user-block {
  float: right;
  padding-top: 35px;
  text-align: right;
  text-transform: uppercase;
  font-weight: 500;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.slide-1-text {
  width: 401px;
  min-height: 320px;
  float: left;
  margin-top: 12px; 
}

.slide-1 p {
  margin-top: -15px;
}

.slide-1 .btn {
  display: inline-block;
  margin-top: 40px;
  margin-left: 55px;
}

.slide-1 img {
  width: 698px;
  min-height: 413px;
  float: right;
  margin-right: 31px;
  
}

.slide-2 {
  display: none;
  width: 760px;
  float: left;
}

.slide-3 {
  display: none;
  width: 760px;
  float: right;
}

.features {
  margin-bottom: 80px;
}

.features-name {
  margin-top: 16px;
}

.features-item p {
  margin-top: -6px;
}

.features-item {
  float: left;
  width: 300px;
  margin-right: 100px;
  min-height: 347px;
}

.features-item:nth-child(3n) {
  margin-right: 0;
}

.features-item .btn {
  display: inline-block;
  margin-top: 32px;
  margin-left: 39px;
}

.about-us {
  border-top: 2px solid #eee;
  min-height: 499px;
}

.about-left {
  width: 660px;
  float: left;
  padding-top: 35px;
}

.about-left h2 {
  font-size: 45px;
  line-height: 45px;
}

.about-left p {}

.about-left h4 {
  padding-top: 15px;
}

.about-left li {
  font-size: 16px;
  line-height: 40px;
}

.about-right {
  width: 360px;
  float: right;
  padding-top: 40px;
}

.about-right h4 {
  text-align: center;
  padding-top: 8px;
}

.about-right th {
  font-size: 45px;
  padding-top: 27px;
}

.customers {
  min-height: 180px;
  font-size: 0px;
  margin-top: 26px;
  border-top: 2px solid #eee;
  border-bottom: 2px solid #eee;
}

.customers-logo {
  display: inline-block;
    
}

.map {
  position: relative;
  right: 140px;
}

.contacts {
  position: absolute;
  top: 55px;
  margin-left: 140px;
  width: 319px;
  min-height: 310px;
  background-color: #ffffff;
}

.footer-social {
  display: inline-block;
  width: 260px;
  margin-right: 140px;
}

.discount {
  display: inline-block;
  width: 560px;
}