body {
  min-width: 1200px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #283136;
  font-family: 'Roboto', sans-serif;
  background: #ffffff;
}

h2 {
  font-weight: 500px;
  font-size: 55px;
  line-height: 55px;
  color: #000000;
}

h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

h4 {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.btn {
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  vertical-align: top;
  text-align: center;
  cursor: pointer;
  color: #fff6f6;
}

.write-us {
  display: inline-block;
  margin-top: 27px;
  padding: 15px 45px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  background-color: #fb565a;
  color: #fff6f6;
}

div, article, header, footer, section, a, p, nav {
outline: 1px solid red;
} /*Временный стиль */



.main-header {
  min-height: 315px;
  padding-top: 42px;
  color: #000000;
  background-color: #eee;
}

.container {
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 80px;
  padding: 0 20px;
}

.logo {
  width: 160px;
  float: left;
  margin-right: 152px;
  vertical-align: bottom;
  padding-top: 7px;
}

.main-navigation {
  float: left;
  margin-bottom: 5px;
  min-height: 85px;
}

.main-navigation li {
  display: inline-block;
  margin-right: 22px;
  margin-top: 19px;
  text-transform: uppercase;
  font-weight: 500;
}

.main-navigation a {
  padding: 10px;
  color: #000000;
  text-decoration: none;
}

.main-navigation a:hover {
  color: #fb565a;
}

.user-block {
  float: right;
  padding-top: 25px;
  text-align: right;
  text-transform: uppercase;
  font-weight: 500;
}

.user-block a {
  display: inline-block;
  padding: 10px 0;
  color: #000000;
  text-decoration: none;
}

.user-block a:hover {
  color: #fb565a;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.slide-1-text {
  width: 401px;
  min-height: 320px;
  float: left;
  margin-top: 13px; 
}

.slide-1 p {
  margin-top: -18px;
}

.slide-1 .btn {
  margin-top: 25px;
  padding: 15px 54px;
  background-color: #fb565a;
}

.slide-1 img {
  width: 698px;
  min-height: 413px;
  float: right;
  margin-right: 31px;
  
}

.slide-2 {
  display: none;
  width: 760px;
  float: left;
}

.slide-3 {
  display: none;
  width: 760px;
  float: right;
}

.features {
  margin-bottom: 80px;
}

.features-name {
  display: block;
  margin-top: 18px;
}

.features-item p {
  margin-top: -6px;
}

.features-item {
  float: left;
  width: 300px;
  margin-right: 100px;
  min-height: 347px;
}

.features-item:nth-child(3n) {
  margin-right: 0;
}

.features-item .btn {
  margin-top: 16px;
  padding: 15px 40px;
  background-color: #fb565a;
}

.features-item:nth-child(2) .btn {
  background-color: #00ca74;
}

.features-item:nth-child(3) .btn {
  background-color: #efc84a;
}

.about-us {
  border-top: 2px solid #eee;
  min-height: 499px;
}

.about-left {
  width: 660px;
  float: left;
  padding-top: 35px;
}

.about-left h2 {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  margin-bottom: 35px;
}

.about-left p {
  
}

.about-left h4 {
  display: block;
  margin-top: 39px;
  margin-bottom: 23px;
}

.about-left li {
  display: block;
  margin-bottom: 24px;
}

.about-right {
  width: 360px;
  float: right;
  padding-top: 40px;
}

.about-right h4 {
  text-align: center;
  padding-top: 8px;
}

.about-right th {
  font-size: 45px;
  line-height: 45px;
  color: #000000;
  padding-top: 18px;
  text-align: left;
}

.about-right sup {
  font-size: 25px;
}

.customers {
  min-height: 180px;
  font-size: 0px;
  margin-top: 26px;
  border-top: 2px solid #eee;
  border-bottom: 2px solid #eee;
}

.customers-logo {
  display: inline-block;
    
}

.map {
  position: relative;
  left: 232px;
}

.main-footer {}

.contacts {
  position: absolute;
  top: 55px;
  left: 140px;
  width: 319px;
  min-height: 310px;
  background-color: #ffffff;
  text-align: center;
}

.contacts h3 {
  margin-top: 48px;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}


.footer-social {
  float: left;
  min-width: 260px;
  margin-right: 130px;
}

.social-btn {
  display: inline-block;
  width: 80px;
  height: 80px;
  margin-right: 7px;
  margin-top: 64px;
  
  font-size: 0;
  vertical-align: top;
  text-decoration: none;
  border-radius: 50px;
  background-color: #e1e1e1;
  position: relative;
}

.social-btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
}

.social-btn-vk::before {
  width: 26px;
  height: 20px;
  background-position: -10px -128px;
}

.social-btn-fb::before {
  width: 12px;
  height: 22px;
  background-position: -10px -45px;
}

.social-btn-inst::before {
  width: 21px;
  height: 21px;
  background-position: -10px -87px;
}

.discount {
  float: left;
  min-width: 560px;
}

.discount h3 { 
  font-weight: 700;
  font-size: 36px;
  font-size: 36px;
  text-transform: none;
  margin-top: 72px;
  margin-bottom: 0;
}

.discount p {
  margin-top: 10px;
}


/* Страница Каталога */

h1 {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: #000000;
}

.filters {
  float: left;
}